/* Media Query for Large screens */
@media (min-width: 1281px) {
  .ps-header .ps-header__middle .flex-header .ps-header__search {
    width: 480px;
    min-width: 480px;
  }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .ps-header .ps-header__middle .flex-header .ps-header__search {
    width: 400px;
    min-width: 300px;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons a > i {
    font-size: 20px;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons .log-acc span {
    font-size: 15px;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons .span-hello {
    display: none;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons p {
    display: none;
  }
  /* PRODUCT DETAILS PAGE */
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .view-div {
    width: 400px;
    min-width: 400px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .nameandshare .ps-product__title {
    font-size: 17px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .ps-product__meta .ps-product__price {
    font-size: 19px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .ps-product__meta .ps-product__del {
    font-size: 17px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .vat {
    font-size: 15px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .weight-gold-diamond li p {
    font-size: 14px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .size {
    justify-content: space-between;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .quantity--wish {
    flex-direction: column;
    padding: 13px 0;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .btn-add-buy a {
    font-size: 11px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__content .nav-item a {
    font-size: 18px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__content .productContent .description-content .ps-desc {
    font-size: 15px;
  }
}
/* Common Media Query for Tablets and Mobile Devices*/
@media (max-width: 1024px) {
  .ps-home .ps-home__content .ps-section--deals {
    padding: 20px;
  }
  .ps-home .ps-home__content .promo-part .promo-img img {
    height: 100%;
    min-height: 130px;
    max-height: 150px;
  }
  .ps-home .ps-home__content .ps-section--latest {
    padding: 20px;
  }
  .ps-home .ps-section__header {
    padding: 0 20px;
  }
  .ps-home .ps-section__header .ps-section__carousel {
    padding: 0 30px;
  }
  /* ORDER DETAILS PAGE */
  .order-details .head-order-details p {
    font-size: 14px;
  }
  .order-details .dts-order {
    gap: 10px;
  }
  .order-details .dts-order h3 {
    font-size: 16px;
  }
  .order-details .dts-order h5 {
    font-size: 14px;
  }
  .order-details .dts-order p {
    font-size: 14px;
  }
  .order-details .body-order .order-product .content-prd h3 {
    font-size: 15px;
    margin-left: 15px;
  }
  .order-details .body-order .order-product .content-prd .qunt {
    min-width: 60px;
    margin-left: 10px;
    font-size: 15px;
  }
  /* ORDER PAGE */
  .orders-ul li .head-order p {
    font-size: 16px;
  }
  .orders-ul li .head-order p span {
    font-size: 14px;
  }
  .orders-ul li .head-order a {
    font-size: 15px;
  }
  .orders-ul li .body-order .order-product .content-prd h3 {
    font-size: 15px;
    margin-left: 15px;
  }
  .orders-ul li .body-order .order-product .content-prd .qunt {
    min-width: 60px;
    margin-left: 10px;
    font-size: 15px;
  }
  /* PRODUCT DETAILS PAGE */
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec {
    flex-direction: column;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .view-div {
    width: 400px;
    min-width: 400px;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .ps-header {
    padding: 0 20px;
  }
  .ps-header .ps-header__middle .container-fluid {
    padding: 0 10px;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__search {
    width: 200px;
    min-width: 200px;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons {
    align-items: flex-start;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons a > i {
    font-size: 24px;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons .account-btn {
    gap: 0;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons .log-acc span {
    display: none;
  }
  .ps-header .ps-header__middle .flex-header .ps-header__right .ps-header__icons p {
    display: none;
  }
  .ps-header .ps-header__middle .flex-header .ps-logo .right--div span,
  .ps-header .ps-header__middle .flex-header .ps-logo .left--div span {
    font-size: 17px;
  }
  .ps-header .ps-navigation .menu {
    text-align: center;
  }
  .ps-header .ps-navigation .menu > li {
    margin-left: 12px;
    padding-left: 0;
  }
  .ps-header .ps-navigation .menu > li a {
    font-size: 14px;
  }
  /* CART PAGE */
  .ps-shopping .box-prd--cart p {
    font-size: 14px;
  }
  /* CHECKOUT PAGE */
  .ps-checkout ul.list-steps .list-addresses li {
    padding: 12px 10px;
  }
  .ps-checkout ul.list-steps .list-addresses li label {
    font-size: 16px !important;
  }
  .ps-checkout ul.list-steps .list-addresses li p {
    font-size: 14px !important;
  }
  /* CREDIT CARD PAGE */
}
/* Media Query for Mobile Devices */
@media (max-width: 991px) {
  /* HOME PAGE */
  .ps-home .ps-home__content .shop-tabby-tamara h1 {
    font-size: 35px;
  }
  .ps-home .ps-home__content .shop-tabby-tamara .logos-tby-tm img {
    height: 50px;
  }
  .ps-home .ps-home__content .promo-part {
    padding: 0 20px;
  }
  .ps-home .ps-home__content .promo-part .promo-img {
    margin-bottom: 0;
  }
  /* ORDER PAGE */
  .orders-ul li {
    overflow-x: auto;
  }
  .orders-ul li .orders-li-content {
    min-width: 600px;
    margin-bottom: 20px;
  }
  /* PRODUCT DETAILS PAGE */
  .ps-categogy .ps-page__content .ps-product--detail .dts-page {
    flex-direction: column;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .view-div {
    width: 450px;
    min-width: 450px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .nameandshare .ps-product__title {
    font-size: 17px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .ps-product__meta .ps-product__price {
    font-size: 18px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .ps-product__info .ps-product__meta .ps-product__del {
    font-size: 16px;
  }
  /* CHECKOUT PAGE */
  .ps-checkout .ps-checkout__content .checkout-parts {
    flex-direction: column-reverse;
  }
  .ps-checkout .ps-checkout__content .checkout-parts .ps-checkout__order {
    width: 97%;
    position: relative;
    top: 0;
  }
}
@media (max-width: 767px) {
  .float-call {
    bottom: 120px;
  }
  .float-whts {
    bottom: 65px;
  }
  .ps-header .ps-header__middle .container-fluid .ps-logo img {
    height: 75px;
  }
  /* HOME PAGE */
  .ps-home .ps-home__content .shop-tabby-tamara h1 {
    font-size: 30px;
  }
  .ps-home .ps-home__content .shop-tabby-tamara .logos-tby-tm img {
    height: 45px;
  }
  /* ABOUT PAGE */
  .about-page .gallery-imgs {
    grid-template-columns: repeat(2, 1fr);
  }
  /* CART PAGE */
  .ps-shopping .box-prd--cart {
    position: relative;
  }
  .ps-shopping .box-prd--cart a:not(.removeproduct) {
    margin-left: 50px;
  }
  .ps-shopping .box-prd--cart a:not(.removeproduct) p {
    font-size: 14px;
  }
  .ps-shopping .box-prd--cart .total-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0 10px;
  }
  .ps-shopping .box-prd--cart .total-quantity .quantity-number {
    margin: 0;
  }
  .ps-shopping .removeproduct {
    position: absolute;
    top: 25px;
    left: 20px;
  }
  /* CHECKOUT PAGE */
  .ps-checkout .list-steps .address-li .list-addresses {
    grid-template-columns: 1fr !important;
  }
  .ps-checkout .list-steps .payment-li .choose-payment {
    padding: 0;
  }
  .ps-checkout .list-steps .payment-li .choose-payment .choose-radio {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  .ps-checkout .list-steps .payment-li .choose-payment .choose-radio .checkout-tab label {
    height: 50px;
  }
  .ps-checkout .ps-checkout__order {
    width: 100%;
    min-width: 200px;
  }
  .ps-checkout .save-btn {
    min-width: 150px !important;
  }
  /* CREDIT CARD PAGE */
  .account-content .addresses .credits .credit-dts h3:first-of-type {
    flex-direction: column;
    gap: 3px;
    font-size: 11px;
  }
  /* INVOICE PAGE */
  .invoice-container-wrap main .download-inner .invoice-right {
    text-align: start;
  }
  .invoice-container-wrap main .download-inner .footer-info {
    flex-direction: column;
    gap: 10px;
  }
  .invoice-container-wrap main .download-inner .footer-info .flex-call {
    justify-content: center;
  }
  /* PRODUCT DETAILS PAGE */
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .view-div {
    width: 350px;
    min-width: 350px;
  }
  /* PRODUCT PAGE */
  .ps-categogy__content {
    flex-direction: column;
  }
  .ps-categogy__content .filter-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .ps-categogy__content .filter-part .price-filter {
    position: relative;
  }
  .ps-categogy__content .filter-part .price-filter input {
    width: 60px;
  }
  .ps-categogy__content .filter-part .price-filter button {
    position: absolute;
    bottom: -40px;
  }
  /* SUCCESS PAGE */
  .ps-page__content .success-div {
    min-width: 400px;
  }
  .ps-page__content .success-div i, .ps-page__content .success-div svg {
    font-size: 90px;
  }
  .ps-page__content .success-div h5 {
    font-size: 20px;
  }
  .ps-page__content .success-div .ps-btn {
    min-width: 180px;
    font-size: 15px;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  /* HOME PAGE */
  .ps-home .ps-home__content .shop-tabby-tamara h1 {
    font-size: 26px;
  }
  .ps-home .ps-home__content .shop-tabby-tamara .logos-tby-tm img {
    height: 30px;
  }
  /* ABOUT PAGE */
  .about-page .gallery-imgs {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ADDRESS PAGE */
  .container-fluid {
    padding: 0;
  }
  /* CART PAGE */
  .ps-shopping .box-prd--cart a:not(.removeproduct) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .ps-shopping .box-prd--cart a:not(.removeproduct) p {
    padding-right: 20px;
  }
  .ps-shopping .box-prd--cart a.removeproduct {
    top: 35px;
  }
  .ps-shopping .box-prd--cart .total-quantity p {
    font-size: 12px;
  }
  /* CHECKOUT PAGE */
  .ps-checkout .list-steps .address-li .choose--address {
    padding: 0;
  }
  .ps-checkout .list-steps .confirmed-address .confirmed-div {
    flex-direction: column;
    text-align: center;
  }
  .ps-checkout .list-steps .confirmed-address .confirmed-div .change-add {
    margin: auto;
  }
  .ps-checkout .list-steps .payment-li .choose-payment {
    padding: 0;
  }
  .ps-checkout .list-steps .payment-li .choose-payment .choose-radio {
    grid-template-columns: repeat(2, 1fr);
  }
  .ps-checkout .save-btn {
    min-width: 100px !important;
    font-size: 14px !important;
  }
  /* CREDIT CARD PAGE */
  .account-content .addresses .credits .credit-dts {
    flex-direction: column;
    align-items: center;
  }
  .account-content .addresses .credits .credit-dts h3:first-of-type {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .account-content .addresses .credits .credit-dts .btns {
    margin: 10px auto;
  }
  /* ORDER DETAILS PAGE */
  .order-details .head-order-details {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  .order-details .head-order-details a {
    position: absolute;
    left: 0;
  }
  .order-details .dts-order {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .order-details .dts-order p {
    justify-content: center;
  }
  .order-details .body-order .order-product {
    flex-direction: column;
  }
  /* PRODUCT DETAILS PAGE */
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .view-div {
    width: 300px;
    min-width: 300px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .g-view {
    flex-direction: column;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .g-view .thumbs {
    width: 100%;
    display: flex;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .g-view .thumbs .swiper-vertical {
    height: 140px;
    min-height: 140px;
    max-height: 350px;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .g-view .thumbs .swiper-vertical .swiper-wrapper {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ps-categogy .ps-page__content .ps-product--detail .dts-page .right-sec .g-d-sec .g-view .thumbs .swiper-vertical .swiper-wrapper .swiper-slide {
    height: 100px !important;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 75px;
    width: 75px;
  }
  .ps-section--latest {
    padding: 20px;
  }
  /* PRODUCT PAGE */
  .ps-categogy__content .filter-part {
    flex-direction: column;
  }
  .ps-categogy__content .filter-part .price-filter {
    position: relative;
  }
  .ps-categogy__content .filter-part .price-filter input {
    width: 80px;
  }
  .ps-categogy__content .filter-part .price-filter button {
    position: static;
  }
  /* SUCCESS PAGE */
  .ps-page__content .success-div {
    background: transparent;
    border: 0;
  }
}/*# sourceMappingURL=media.css.map */